name: Microsoft Security DevOps (Reusable)

on:
  workflow_call:

jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Run Microsoft Security DevOps
        uses: microsoft/security-devops-action@v1
        with:
          tools: codeql,credscan,trivy
